@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');


.App {
  text-align: left;
  background: linear-gradient(to bottom, #f9d4c9, #f0f0f0);
}
.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-logo {
   /* Adjust the image size as needed */
  margin-right: 200px; /* Add spacing between the image and text */
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h1{
  font-family: Rozha One;
  font-weight: normal;
}
p{
  font-family: Poppins;
  font-size: 20px;
  margin-bottom: 40px;
  margin-right: 100px;
}
a{color: #ffc3c3;}

.custom-button {
  background-color:#e07e7e; /* Coral color */
  color: #ffffff; /* White text color */
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  transition: box-shadow 0.05s ease;
}

.custom-button:hover {
  background-color: #f58888; /* Darker coral color on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0.3, 0.3);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-left: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.text {
  align-items: left;
}
.App-link {
  color: #fb9200;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
